div.wrap > nav ul li i.fa.fa-sign-in-alt, div.wrap > nav ul li i.fa.fa-sign-in-alt a, div.wrap > nav ul li i.fa.fa-sign-out-alt, div.wrap > nav ul li i.fa.fa-sign-out-alt a, div.wrap > nav ul li i.fa.fa-sign-in-alt, div.wrap > nav ul li form button
{
	color: gray;
}

div.wrap > nav ul li i.fa.fa-sign-in-alt a
{
	text-decoration: none;
	margin-left: 8px;
}

div.wrap > nav ul li form div.input-group-prepend
{
	margin-left: 4px;
}

div.wrap > nav ul li form#login-form
{
	display: none;
}

div.wrap > nav ul li form button:hover
{
	text-decoration: none;
	color: gray;
}

ol.breadcrumb li.middle
{
	margin-left: 4px;
	margin-right: 4px;
}

div.record.preview.footer
{
	background-color: #ffffff;
}

div.content.footer
{
	background-color: #ffffff;
}

div.records-public > div.list-view > div
{
	clear: both;
	margin-top: 56px;
}

div.content + div.content.footer, div.record.preview.footer.right
{
	float: right;
	height: auto;
	border: 0;
	padding: 0;
}

div.record.preview.footer.left
{
	float: left;
	height: auto;
	border: 0;
	padding: 0;
	background-color: white;
}

div.content.footer span, div.record.preview.footer span
{
	margin-left: 8px;
	font-size: 0.9em;
}

div.content.footer i.fa-user, div.record.preview.footer i.fa-user
{
	margin-left: 10px;
}

/*
Пагинация
*/

ul.pagination
{
	clear: both;
}

ul.pagination li
{
	margin-left: 2px;
	margin-right: 3px;
}

ul.pagination li a, ul.pagination li a:visited
{
	color: gray;
}

ul.pagination li.prev a:hover, ul.pagination li.next a:hover
{
	background-color: gray;
	color: white;
	font-weight: bold;
}

ul.pagination li.prev span, ul.pagination li.next span
{
	color: #c3c3c3;
}

ul.pagination li.active a, ul.pagination li.active a:visited, ul.pagination li.active span
{
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
	background-color: gray;
	padding: 0px 3px;
}

/*
	bold для label в ActiveForm
*/
div.form-group label
{
	font-weight: 500;
	font-style: italic;
}

/*
	Подсветка для ошибок ActiveForm
*/
div.form-group.has-error div.help-block
{
	font-size: 0.7em;
	font-weight: bold;
	color: red;
}

div.form-group.has-error .form-control[aria-invalid="true"]
{
	border-color: red;
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

/*
	Форматирование для виджета CategoriesWidget(админская часть)
*/
div.admin-list-categories
{
	clear: both;
	display: block;
}

div.admin-list-categories ul
{
	padding: 0;
}

div.admin-list-categories ul li
{
	cursor: pointer;
	list-style-type: none;
	margin: 6px 10px;
	display: inline-block;
	border-radius: 6px;
	padding: 4px;
	border: 1px dashed black;
	font-style: italic;
}

div.admin-list-categories ul li.categories-widget-item.default
{
	/**/
}

div.categories-widget.admin-list-categories ul li.categories-widget-item.default:hover
{
	box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
}

div.categories-widget.admin-list-categories ul li.categories-widget-item.error:hover
{
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

div.categories-widget.admin-list-categories ul li.categories-widget-item.active
{
	background-color: #5959f7;
	color: white;
}

div.categories-widget.admin-list-categories ul li.categories-widget-item.active.error
{
	background-color: #f13a3a;
	color: white;
}

/*
	Правила для виджета категорий на фронтенде
*/
div.categories-widget ul
{
	padding: 0;
}

div.categories-widget ul li.categories-widget-item
{
	list-style-type: none;
	margin: 6px 10px;
	display: inline-block;
	padding: 4px;
}

div.categories-widget ul li.categories-widget-item.active
{
	background-color: gray;
	border-radius: 6px;
}

div.categories-widget ul li.categories-widget-item.active
{
	color: white;
}

div.categories-widget ul li.categories-widget-item.default a
{
	color: gray;
	text-decoration: none;
}

/*
Следующие 4 правила чинят отображение иконок view/edit/delete в GridView
@see https://github.com/yiisoft/yii2/issues/17479#issuecomment-612597744
*/
.glyphicon {
    font-family: "Font Awesome 5 Free";
}
.glyphicon-eye-open:before {
    content: "\f06e";
    color: var(--success);
}
.glyphicon-pencil:before {
    content: "\f044";
    color: var(--primary);
}
.glyphicon-trash:before {
    content: "\f2ed";
    color: var(--danger);
}
